/* RESET BÁSICO */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}


.body {
    background: linear-gradient(242deg, #56a8db 0%, #57c785 28%, #6a47de 93%);
    color: aliceblue;
    font-size: 1.2rem;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 200%;

    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;

    background: linear-gradient(360deg, #dbdbdb 0%, #ababab 28%, #6a47de 93%);
    color: beige;

    z-index: 1000;
    flex-wrap: wrap;
}

/* BOTONES DEL MENÚ */
.btn_menu {
    background-color: rgb(70, 70, 70);
    color: white;

    padding: 0.6rem;
    border-bottom: 4px solid rgb(90, 100, 90);
    border-right: 4px solid rgb(90, 100, 90);
    border-radius: 0 0 1rem 1rem;
    font-size: 1.5rem;

    cursor: pointer;

    text-align: center;
    width: 8rem;

    white-space: normal;
}


/* 📝 CONTENIDO */
.main_text {
    margin: 8rem auto 4rem auto;
    padding: 1.5rem;

    max-width: 900px;

    background-color: rgba(120, 70, 120, 0.6);
    border-radius: 30px;

    font-size: 1.2rem;
}


/* 📦 TABLAS DE BOTONES */
.btn_table {
    position: fixed;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);

    display: none;
    flex-wrap: wrap;
    gap: 10px;

    padding: 1rem;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;

    z-index: 1000;
}

/* ACTIVO */
.btn_table.active {
    display: flex;
}


/* 🔘 BOTONES INTERNOS */
.btn {
    background-color: rgb(110, 110, 110);
    color: white;

    padding: 1rem;
    border-bottom: 2px solid black;

    cursor: pointer;

    width: 12rem;
    text-align: center;

    white-space: normal;
}


/* 📱 RESPONSIVE */
@media (max-width: 600px) {

    .menu {
        gap: 0.5rem;
        padding: 0.5rem;
        font-size: 100%;
    }

    .btn_menu {
        width: 6rem;
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .main_text {
        margin: 7rem 1rem 3rem 1rem;
        font-size: 0.9rem;
    }

    .btn_table {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .btn {
        width: 100%;
        font-size: 1rem;
    }
}
